body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #f4f4f4;
    margin: 37;
    padding: 37;
    text-align: center;
}

h1 {
    color: #00d5ff;
}

p {
    font-size: 18px;
}
